<div class="d-md-flex flex-sm-row">
    <div class="col-sm-12 col-md-7 my-4">
        <mat-card>
            <button type="button" class="close" aria-label="Close" (click)="onClear()"><span aria-hidden="true">&times;</span></button>
            <mat-card-header>
              <mat-card-title class="text-uppercase text-primary">Formulario de miembros</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="form" autocomplete="off">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <mat-form-field class="w-100">
                              <input matInput formControlName="name" placeholder="Nombres" type="text" required>
                              <mat-error></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6">
                            <mat-form-field class="w-100">
                              <input matInput formControlName="surname" placeholder="Apellidos" type="text" required>
                              <mat-error></mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4" formGroupName="document">
                          <mat-form-field class="w-100">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="type" required>
                              <mat-option value="TI">TI</mat-option>
                              <mat-option value="CC">CC</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-8" formGroupName="document">
                          <mat-form-field class="w-100">
                            <input matInput formControlName="number" placeholder="Documento" type="text" required>
                            <mat-error></mat-error>
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <mat-form-field class="w-100">
                              <input matInput formControlName="telephone" placeholder="Teléfono" type="text" required>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-6">
                            <mat-form-field class="w-100">
                              <mat-label>Cargo</mat-label>
                              <mat-select formControlName="occupation" required>
                                <mat-option value="Presidente">Presidente</mat-option>
                                <mat-option value="Secretario">Secretario</mat-option>
                                <mat-option value="Tesorero">Tesorero</mat-option>
                              </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button type="button" color="accent">Cancelar</button>
            <button mat-button mat-stroked-button color="primary" class="px-4" type="submit" (click)="onSubmit()">Guardar</button>
          </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-sm-12 col-md-5 my-4">
        <p mat-header class="mat-h2 text-uppercase mt-3 mb-0 pl-3 text-primary">Lista de Miembros</p>
    </div>
</div>
<pre>{{ form.value | json }}</pre>
<pre>{{ form.status | json }}</pre>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-diagram">
          <div class="example-element-position"> {{element.position}} </div>
          <div class="example-element-symbol"> {{element.symbol}} </div>
          <div class="example-element-name"> {{element.name}} </div>
          <div class="example-element-weight"> {{element.weight}} </div>
        </div>
        <div class="example-element-description">
          {{element.description}}
          <span class="example-element-description-attribution"> -- Wikipedia </span>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
