<div class="d-md-flex flex-sm-row">
    <div class="col-sm-12 col-md-7 my-4">
        <mat-card>
            <button type="button" class="close" aria-label="Close" (click)="onClear()"><span aria-hidden="true">&times;</span></button>
            <mat-card-header class="text-uppercase rounded border-left border-primary text-primary h5">Formulario de miembros</mat-card-header>
            <mat-card-content>
                <form [formGroup]="form" autocomplete="off">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputName">Nombres</label>
                            <input type="text" class="form-control" id="inputName" formControlName="name" placeholder="Nombres" autofocus>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputSurname">Apellidos</label>
                            <input type="text" class="form-control" id="inputSurname" formControlName="surname" placeholder="Apellidos">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4" formGroupName="document">
                            <label for="inputType">Tipo</label>
                            <select class="form-control" id="inputType" formControlName="type">
                                <option>CC</option>
                                <option>TI</option>
                            </select>
                        </div>
                        <div class="form-group col-md-8" formGroupName="document">
                            <label for="inputDocument">Documento</label>
                            <input type="text" class="form-control" id="inputDocument" formControlName="number" placeholder="Documento">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputTelephone">Teléfono</label>
                            <input type="text" class="form-control" id="inputTelephone" formControlName="telephone" placeholder="Teléfono">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputOccupation">Cargo</label>
                            <select class="form-control" id="inputOccupation" formControlName="occupation">
                                <option>Presidente</option>
                                <option>Secretaria</option>
                                <option>Tesorero</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 text-right">
                        <button type="submit" class="btn btn-outline-primary px-5">Guardar</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-12 col-md-5 my-4 table-responsive">
        <p mat-header class="h5 text-uppercase my-2 pl-4 rounded border-left border-primary text-primary">Miembros</p>
        <table class="table table-sm table-bordered">
            <caption>Miembros registrados {{ countries.length }}</caption>
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cargo</th>
                    <th scope="colgroup"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let country of countries; index as i">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ country.area | number }}</td>
                    <td>{{ country.population | number }}</td>
                    <td class="text-center">
                        <button class="btn btn-outline-info btn-sm mr-1">e</button>
                        <button class="btn btn-outline-danger btn-sm ml-1">d</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<pre>{{ form.value | json }}</pre>
<pre>{{ form.status | json }}</pre>