<div class="row m-md-5">
    <div class="col-12">
        <mat-tab-group>
            <mat-tab label="Junta de Acción Comunal">
                <app-get-started-register></app-get-started-register>
            </mat-tab>
            <mat-tab label="Comités">
                <app-committee></app-committee>
            </mat-tab>
            <mat-tab label="Miembros">
                <app-member></app-member>
            </mat-tab>
            <mat-tab label="Libros">
                <app-book></app-book>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>