<div class="row m-md-5 mt-2">
    <div class="col-sm-12 col-md-8">
        <mat-card>
            <button type="button" class="close" aria-label="Close" (click)="onClear()"><span aria-hidden="true">&times;</span></button>
            <mat-card-header>
              <mat-card-title class="text-primary text-uppercase">Formulario de afiliación</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="form" autocomplete="off">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <mat-form-field class="w-100">
                            <input matInput formControlName="name" placeholder="Nombre" type="text" required>
                            <mat-error></mat-error>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-6">
                          <mat-form-field class="w-100">
                            <input matInput formControlName="surname" placeholder="Apellido" type="text" required>
                            <mat-error></mat-error>
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2" formGroupName="document">
                          <mat-form-field class="w-100">
                            <mat-label>Tipo</mat-label>
                            <mat-select formControlName="type" required>
                              <mat-option value="TI">TI</mat-option>
                              <mat-option value="CC">CC</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-4" formGroupName="document">
                          <mat-form-field class="w-100">
                            <input matInput formControlName="number" placeholder="Documento" type="text" required>
                            <mat-error></mat-error>
                          </mat-form-field>
                        </div>
                        <div class="form-group col-md-6">
                          <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="picker" formControlName="dateBorn" placeholder="Fecha de nacimiento" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="w-100">
                          <input matInput formControlName="address" placeholder="Dirección" type="text" required>
                          <mat-error></mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 text-center">
                          <mat-radio-group aria-label="Seleccione un género" formControlName="gender" required>
                            <mat-radio-button class="mr-3" value="Masculino">M</mat-radio-button>
                            <mat-radio-button class="ml-3" value="Femenino">F</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="form-group col-md-4">
                            <mat-form-field class="w-100">
                                <input matInput formControlName="telephone" placeholder="Teléfono" type="tel" required>
                              <mat-error></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group col-md-4">
                            <mat-form-field class="w-100">
                              <input matInput formControlName="occupation" placeholder="Ocupación" type="text" required>
                              <mat-error></mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-button matStepperNext type="button" color="accent">Cancelar</button>
              <button mat-button mat-stroked-button color="primary" class="px-4" type="submit" (click)="onSubmit()">Guardar</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="col-sm-12 col-md-4">
        <p mat-header class="mat-h2 text-uppercase mt-2 mb-0 pl-3 text-primary">Comités</p>
        <mat-list>
            <mat-divider></mat-divider>
            <mat-selection-list [(ngModel)]="selectedCommits" (ngModelChange)="onNgModelChange($event)">
                <mat-list-option *ngFor="let item of committees" [value]="item._id">
                    <mat-icon mat-list-icon>group</mat-icon>{{ item.name | titlecase }}
                </mat-list-option>
            </mat-selection-list>
        </mat-list>
        <div class="text-center">
            <button mat-icon-button class="mt-2 mr-2 text-primary"><i class="material-icons">arrow_back</i></button>
            <button mat-icon-button class="mt-2 ml-2 text-primary"><i class="material-icons">arrow_forward</i></button>
        </div>
    </div>
</div>
<pre>{{ form.value | json }}</pre>
<pre>{{ form.status | json }}</pre>
