<div class="start-page">
    <img src="assets/img/start.png" class="img-fluid" alt="ijacapp - logo">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-primary my-4 my-sm-5" style="font-family: 'Libre Baskerville', serif;">ijacapp</h1>
                <p class="text-muted m-0">Bienvenido a la aplicación de registros ijacapp.</p>
                <p class="text-muted mb-4">Es eficiente, simple y segura.</p>
                <div class="col-12">
                    <a class="btn btn-primary text-decoration-none px-5 text-uppercase" role="button" [routerLink]="['/login']">Empezar ahora</a>
                </div>
                <div class="col-12">
                    <a class="btn btn-link text-decoration-none" role="button" [routerLink]="['/user-manual']">Aprende a usar ijacapp</a>
                </div>
            </div>
        </div>
    </div>
</div>
