<h1 mat-dialog-title class="text-center text-primary text-uppercase">Libro</h1>
<div mat-dialog-content>
  <h5><span class="badge badge-secondary">Información</span></h5>
  <mat-list role="list">
    <mat-list-item role="listitem">Versión: 1.0</mat-list-item>
    <mat-list-item role="listitem">Fecha de inicio: {{ date | date }}</mat-list-item>
    <mat-list-item role="listitem">Fecha de cierre:</mat-list-item>
  </mat-list>
</div>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button mat-button mat-stroked-button mat-dialog-close>Cancelar</button>
  <button mat-button mat-stroked-button color="primary" [mat-dialog-close]="true" (click)="onSubmit()" cdkFocusInitial>Crear libro</button>
</mat-dialog-actions>
