<div class="d-md-flex flex-sm-row">
  <div class="col-sm-12 mt-4 mb-2 text-right">
    <button mat-flat-button color="primary" class="uppercase px-5 mb-2" (click)="openDialog()">
      Generar libro <i class="material-icons">book</i>
    </button>
  </div>
</div>
<div class="d-md-flex flex-sm-row">
  <div class="col-sm-6">
    <mat-list>
      <h3 mat-subheader>Información de libro actual</h3>
    </mat-list>
    <div class="card shadow p-2 bg-white rounded">
      <div class="card-body">
        <h5 class="card-title">Libro</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{book.version}}</h6>
        <div class="text-right text-muted">
          {{book.created}}
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <mat-list>
      <h3 mat-subheader>Libros antiguos</h3>
      <mat-list-item>
        <h4 mat-line>Libro 1</h4>
        <p mat-line> 2019/06/30 </p>
      </mat-list-item>
      <mat-list-item>
        <h4 mat-line>Libro 2</h4>
        <p mat-line> 2019/07/30 </p>
      </mat-list-item>
      <mat-list-item>
        <h4 mat-line>Libro 3</h4>
        <p mat-line> 2019/08/30 </p>
      </mat-list-item>
      <mat-list-item>
        <h4 mat-line>Libro 4</h4>
        <p mat-line> 2019/09/30 </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
