<div class="login-page animated fast fadeIn" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px">
  <div class="logo-container" fxFlexAlign="center">
    <img src="assets/img/logo.png" class="img-fluid" alt="ijacapp">
  </div>
  <div fxFlexAlign="center">
    <p class="h3 font-weight-normal text-primary">Su usuario</p>
    <span class="font-weight-light text-muted">Por favor, ingrese los siguientes datos.</span>
    <mat-divider></mat-divider>
    <!-- Form -->
    <form [formGroup]="form" (ngSubmit)="login()">
      <mat-form-field class="login-field">
        <input matInput placeholder="Usuario" formControlName="username" type="text" autocomplete="username" required/>
        <mat-error *ngIf="usernameForm.invalid">{{getErrorMessageUsername()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="login-field">
        <input matInput placeholder="Contraseña" formControlName="password" [type]="hide ? 'password' : 'text'" autocomplete="current-password" required/>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="passwordForm.invalid">{{getErrorMessagePassword()}}</mat-error>
      </mat-form-field>
      <button mat-raised-button class="login-field text-uppercase bg-primary text-light" type="submit">
        iniciar sesión
      </button>
    </form>
    <!-- Form -->
    <div fxLayout="row" fxLayoutAlign="space-around center" class="mt-2">
      <div fxFlex>
        <a mat-icon-button [routerLink]="['/start']">
          <mat-icon aria-label="back">arrow_back</mat-icon>
        </a>
      </div>
    </div>
  </div>
</div>
