<div class="login-page" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="50px">
    <div class="logo-container" fxFlexAlign="center">
        <img src="assets/img/logo.png" class="img-fluid" alt="ijacapp">
    </div>
    <div fxFlexAlign="center">
        <p class="h3 font-weight-normal text-primary">Su usuario</p>
        <span class="font-weight-light text-muted">Por favor, ingrese los siguientes datos.</span>
        <mat-divider></mat-divider>
        <form [formGroup]="form" (keyup.enter)="login()" (ngSubmit)="login()">
            <mat-form-field class="login-field">
                <input matInput placeholder="Usuario" name="username" formControlName="username" type="text" autocomplete="username" />
                <!-- <mat-error *ngIf="usernameForm.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
            <mat-form-field class="login-field">
                <input matInput placeholder="Contraseña" name="password" formControlName="password" type="password" autocomplete="current-password" />
            </mat-form-field>
            <mat-error [textContent]="errorMessage"></mat-error>
            <button mat-raised-button class="login-field text-uppercase bg-primary text-light" type="submit">
                iniciar sesión
            </button>
        </form>
        <app-actions></app-actions>
    </div>
</div>