<div class="d-md-flex flex-sm-row">
    <div class="col-sm-12 col-md-8 my-4">
        <div class="mat-elevation-z4 ripple-container" matRipple>
            <i class="material-icons">add</i>
        </div>
    </div>
    <div class="col-sm-12 col-md-4 my-4">
        <div class="card border-warning align-baseline">
            <div class="card-header bg-warning text-white font-weight-bold">¡Alerta!</div>
            <div class="card-body p-4">
                <ngb-alert [dismissible]="false" class="text-justify">
                    Recuerde registrar su Junta de Acción Comunal, es necesaria para hacer uso adecuado del sistema.
                </ngb-alert>
            </div>
        </div>
    </div>
</div>